.App {
  text-align: center;
}

.movieCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px; 
}

.movieCard article {
  background: black; 
  color: white; 
  padding: 15px; 
}
